.gameCircle{
    width: 100px; 
    height: 100px; 
    margin: 10px;
    border-radius: 50%;
    border: 3   px solid black;
}

.gameCircle:hover{
    cursor: pointer;
}

.gameBoard{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    padding: 20px;
    width:500px;
    position:absolute;
    left:50%;
    margin-left:-25%;
    top :20%;
    border : 1px solid black;
}

.player1{
    background-color: red
}

.player2{
    background-color: blue
}

.player0{
    background-color: white;
    border:1px solid black;
}